.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-color);
    text-align: center;
}

.not-found-container h1 {
    font-size: 6rem;
    margin: 0;
    color: var(--accent-color);
}

.not-found-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.not-found-container p {
    margin-bottom: 2rem;
    color: #888;
}